[Unit]
Description=SSH Login Alert Monitoring
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/python3 /etc/sshalert/source/main.py
WorkingDirectory=/etc/sshalert/source/
Restart=always
Group=nogroup
StandardOutput=journal
StandardError=journal
SyslogIdentifier=sshalert
Type=simple
User=root

[Install]
WantedBy=multi-user.target


